.search {
    width: calc(100% - 90px);
    transition: 0.5s width;

    &.shown {
        width: calc(100% - 300px);
    }

    &__list {
        display: flex;
        width: 70%;
        margin: 0 auto;
        padding: 50px 30px;
        gap: 30px;
    }
}
