.search {
    transition: 0.5s width;
    width: calc(100% - 90px);

    &.shown {
        width: calc(100% - 300px);
    }

    &__list {
        display: flex;
        gap: 30px;
        margin: 0 auto;
        padding: 50px 30px;
        width: 70%;
    }
}
