.searchlist {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    width: 100%;

    &__item {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 265px;
    }

    &__image {
        border: 1px solid #fff;
        border-radius: 12px;
        padding: 5px;

        img {
            border-radius: 12px;
            width: 200px;
            height: 250px;
        }
    }

    &__title {
        cursor: pointer;
        text-decoration: none;
        color: #4effee;
        font-size: 1.5rem;

        &:hover {
            color: red;
        }
    }

    &__alttitle {
        opacity: 0.8;
        font-size: 0.8rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
    }

    &__subinfo {
        display: flex;
        gap: 10px;
    }

    &__genres {
        display: flex;
        gap: 10px;
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.6rem;
        white-space: normal;
    }

    &__empty {
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
    }
}
