/* stylelint-disable-next-line import-notation */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.anime {
    position: relative;

    &__container {
        transition: 0.5s all;
        width: calc(100% - 90px);
        min-height: 100vh;

        &.shown {
            width: calc(100% - 300px);
        }
    }

    &__cover {
        display: inline-block;
        width: 100%;
        height: 400px;
        user-select: none;
        pointer-events: none;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0 0 0 / 30%);
            width: 100%;
            height: 100%;
            content: '';
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        padding-bottom: 20px;
        color: #4effee;
        font-size: 1.5rem;
    }

    &__description {
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.5s ease;
        opacity: 0.8;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5rem;
        font-size: 1rem;

        &.above {
            grid-template-rows: 0.5fr;
        }

        &.widened {
            grid-template-rows: 1fr;
        }
    }

    &__header {
        display: flex;
        position: relative;

        img {
            margin-top: -125px;
            width: 230px;
            height: 325px;
        }

        &_right {
            padding: 15px 30px;
            height: 100%;
        }

        &_left {
            &_input {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                padding-top: 15px;
                height: 50px;
            }
        }
    }

    &__wrapper {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 70%;
        height: 100%;
    }

    &__readmore {
        display: block;
        margin: 0 auto;
        outline: none;
        border: 0;
        border-radius: 16px;
        background-color: #000;
        padding: 10px 5px;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
            background-color: #595959;
        }

        &.hidden {
            display: none;
        }
    }

    &__select {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1rem;
    }

    &__checkbox {
        input {
            appearance: none;

            &:checked + span::before {
                color: #f65489;
            }

            &:hover + span::before {
                color: #f65489;
            }
        }

        span {
            border-radius: 6px;
            background-color: #189bc3;
            cursor: pointer;
            padding: 7px;
            /* stylelint-disable-next-line no-descending-specificity */
            &::before {
                color: #fff;
                /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
                font-family: fontAwesome;
                font-size: 1rem;
                content: '\f004';
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 50px;
        width: 100%;
        font-size: 1.5rem;

        &__col {
            display: grid;
            gap: 15px;
        }

        &__item {
            &.hidden {
                display: none;
            }
        }
    }

    &__recommendations {
        padding: 50px 0;

        &__title {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            text-align: center;
            font-size: 1.7rem;
        }

        &__button {
            &:hover {
                cursor: pointer;
                color: #4effee;
                user-select: none;
            }
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 50px;
            height: 380px;
            overflow: hidden;

            &.opened {
                height: auto;
            }
        }

        &__item {
            transition: 0.2s all;
            text-decoration: none;
            color: #fff;

            &:hover {
                cursor: pointer;
                color: #4effee;
            }

            &__title {
                text-align: center;
            }

            &__img {
                padding-bottom: 15px;

                img {
                    display: block;
                    border-radius: 12px;
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}
