form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 50%;

    input {
        display: block;
        outline: none;
        border: 1px solid #fff;
        border-radius: 12px;
        padding: 5px 15px;
        width: 100%;
        font-size: 1.5rem;

        &:focus {
            border: 3px solid #4effee;
        }
    }

    button {
        outline: none;
        border: 1px solid #fff;
        border-radius: 16px;
        background-color: transparent;
        cursor: pointer;
        padding: 10px 15px;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            border: 1px solid #4effee;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            color: #4effee;
        }
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.form__error {
    height: 30px;
    color: #ab4a4a;
    font-size: 1.5rem;
}
