.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 500ms;
    width: calc(100% - 90px);
    min-height: 100vh;

    &__title {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        width: 100%;

        a {
            position: absolute;
            right: 8%;
            opacity: 0.7;
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;

            &:hover {
                color: #4effee;
            }
        }
    }

    &.shown {
        width: calc(100% - 300px);
    }
}
