.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;

    &__input {
        position: relative;
        width: 60%;
    }

    span {
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: 9999;
        color: #000;
        font-size: 2rem;
        user-select: none;
    }

    input {
        position: relative;
        outline: none;
        border: 3px solid #fff;
        border-radius: 12px;
        padding: 5px 50px;
        width: 100%;
        font-size: 1.5rem;

        &:focus {
            border: 3px solid #4effee;
        }
    }

    button {
        margin-left: 15px;
        outline: none;
        border: 0;
        border-radius: 12px;
        background-color: transparent;
        padding: 10px 15px;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            background-color: #202020;
        }
    }
}
