.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    order: 2;
    transform: translateX(calc(100% - 90px));
    transition: transform 500ms;
    z-index: 99999;
    border-left: 1px solid #fff;
    background-color: #000;
    width: 15%;
    height: 100%;

    &__title {
        display: flex;
        align-items: center;
        margin: 30px 0 50px;

        p {
            cursor: default;
            text-transform: uppercase;
            font-size: 1.5rem;
        }

        span {
            &:hover {
                color: #4effee;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin-bottom: 25px;

        &:hover {
            color: #4effee;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    ul li {
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    ul li span {
        padding: 0 20px;
        font-size: 3.5rem;
        user-select: none;
    }

    ul li &__link {
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            color: #4effee;
        }
    }

    ul li p {
        font-size: 1.5rem;
        user-select: none;
    }

    &.shown {
        transform: translateX(0%);
    }
}
